@use '../base/variables' as v;
@use '../base/mixins' as m;
/* Main Section */
main{
    background-color: v.$principal;
    min-height: auto;
}
.h1-prototype{
padding-top: 2rem;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow: row;
    gap: 2rem;
}
.cards-container__used{
    @include m.tablet{
        justify-items: center;
        display: flex;
        justify-content: center;
        gap: 4rem;
    }
}
.cards-container__learning{
    @include m.tablet{
        display: flex;
        justify-content: center;
        gap: 4rem;
        padding-bottom: 4rem;
    }
}
.cards-container__learning{
    @include m.tablet{
        justify-self: center;
    }
}
.card{
    background-color: v.$secundario;
    border-radius: 1rem;
    display: grid;
    height: auto;
    @include m.tablet{
        width: 18rem;
        height: auto;
    }
    img{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 2fr 1fr;
        padding: 1.5rem 0;
        align-self: center;
    }
}
.card p{
    text-align: center;
    margin: 1rem;
    align-self: center;
}
.highlight{
    color: v.$rojo;
}
  /* Seccion del "Quien soy" */
.img-poncho{
    min-height: 30rem;
    min-width: 20rem;
    max-width: auto;
    display: flex;
}
.bio-container{
    @include m.tablet{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
        padding-bottom: 15rem;
    }
}
// Seccion de Proyetos

.project{
    background-color: v.$secundario;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
    .project-title{
        font-weight: bold;
        font-size: 4rem;
        line-height: 6rem;
    }
    .link-adviser{
        text-align: center;
        color: v.$principal;
        font-weight: bold;
        font-size: 2.5rem;
        text-decoration: underline v.$rojo;
    }

}
.project a{
    @include m.desktop{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2rem;
    }
}
